.chat-screen__texts, .chat-screen__rtexts{
    padding: 0;
    list-style-type: none;    
}
.chat-screen{
    display: bolck;
    overflow: scroll;
}

.chat-screen__texts > .text{
    background-color: #e6f2fa;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
    
}
.chat-screen__rtexts > .r-text{
    background-color: #f8e6fa;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    float: right;
    position: relative;
    right: 20px;

}

.chat-screen__texts > .text::after{
    content:"";
    border-right: 16px solid #e6f2fa;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}
.chat-screen__rtexts > .r-text::after{
    content:"";
    border-left: 16px solid #f8e6fa;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    right: -10px;
}

.chat-screen__texts > .text:hover{
    background-color: aqua;
    transition: background-color 1500ms 200ms ease-in;
}
.chat-screen__texts > .text:hover::after{
    border-right: 16px solid aqua;
    transition: border-right 1500ms 200ms ease-in;
}
.chat-screen__rtexts > .r-text:hover{
    background-color: rgb(255, 138, 230);
    transition: background-color 1500ms 200ms ease-in;
}
.chat-screen__rtexts > .r-text:hover::after{
    border-left: 16px solid rgb(255, 138, 230);
    transition: border-left 1500ms 200ms ease-in;
}

